.button {
    width: 210px;
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px var(--color-white), 5px 5px 20px var(--color-shadow);
    transition: all 0.2s ease-in-out;            
    margin: 10px 0;
    color: var(--color-red);

    &:hover {
        box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
    }

    &:active {
        box-shadow: inset 1px 1px 2px var(--color-white), inset -1px -1px 2px var(--color-shadow);
    }   
    
    &:disabled{
        cursor: not-allowed;
        svg{
            animation: animate 1.2s infinite;
        }
    }
    
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}